@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#000000;
  background-color: #ffffff;
  font-weight: 400;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  margin: 0 30px 0 70px;
}

.navigation {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.navigation-list {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  width: 339px;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  background-color: #ffffff;
  font-weight: 700;
}

.header-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  width: 160px;
  height: 36px;
  font-family: inherit;
}

.main-container {
  flex-grow: 1;
}

.page-main {
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-title-page {
  background-image: url("../images/background-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.main-title-logo {
  display: block;
  margin: 0 auto;
  padding: 50px 0 80px 0;
}

.main-text-bold {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  margin: 0 290px;
}

.main-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 20px 270px 70px 270px;
}

.header-of-advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 260px;
  margin-bottom: 20px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-with-images {
   display: flex;
   width: 1200px;
   height: 385px;
   background-color: #82B3D3;
}

.devil-reverse {
 flex-direction: row-reverse;
}

.advantages-title-general{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 102px 85px;
}

.advantages-title-with-images {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-description-with-images {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.advantages-item-odd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 102px 85px;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-even {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 102px 85px;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-title-center {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description-center {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.services-list {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.services-item-odd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 81px 85px;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-even {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 81px 85px;
  width: 400px;
  height: 385px;
  background-color: #ffffff;
}

.services-name {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search-link-hotel {
  display: inline-block;
  margin-top: -16px
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  width: 376px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background-mailing.jpg");
  background-size: cover;
  text-align: center;
  height: 400px;
  box-sizing: border-box;
}

.subscribe-text-bold {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  padding: 20px 362px 54px 362px;
  margin: 0;
}

.subscribe-form {
  padding: 0;
}

.subscribe-email {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  width: 452px;
  height: 52px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  font-family: inherit;
  padding: 0;
  margin-right: -5px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  width: 232px;
  height: 52px;
  font-family: inherit;
  padding: 0;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

.social-list {
  display: flex;
  width: 142px;
  height: 40px;
  margin-right: 40px;
  gap: 12px;
}

.contacts-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 50px;
}

.contacts {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.link-logo {
  width: 130px;
  height: 40px;
  margin-left: 40px;
}

.catalog-main-header {
  margin: 0 auto;
  background-image: url("../images/background-filter-hotel.jpg");
  background-size: cover;
  width: 1200px;
  height: 412px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.header-with-breadcrumbs {
  margin: 40px 70px 40px 70px;
}

.breadcrumbs-link {
  font-family: inherit;
  color: inherit;
}

.catalog-head-text {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 8px;
}

.catalog-products {
  margin: 0 70px 70px 70px;
}

.catalog-form {
  display: flex;
  justify-content: space-around;
}

fieldset {
  border: none;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.price-filter {
  margin-left: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.button-filter {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #82B3D3;
  width: 190px;
  height: 36px;
  border-radius: 4px;
  border: none;
}

.reset {
  background: transparent;
  margin-top: 32px;
}

.catalog-cards-result {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  margin-top: 50px;
}

.catalog-hostel-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-layout {
  display: flex;
  margin-left: 70px;
}

.catalog-layout-button {
  color: inherit;
}

.select-control-container {
  display: flex;
  justify-content: center;
}

.select-control {
  margin-left: 200px;
  width: 290px;
  height: 50px;
  color: #333333;
}

.catalog-cards-list {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  width: 1080px;
}

.catalog-cards-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  gap: 16px;
}

.catalog-cards-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  font-family: inherit;
  margin: 0;
}

.catalog-cards-details {
  display: flex;
  justify-content: space-between;
  color: #333333;
}

.catalog-cards-buttons {
  display: flex;
  justify-content: space-between;
}

.catalog-card-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  background-color: #756157;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite {
  background-color: #82B3D3;
}

.selected {
  background-color: #7DB54F;
}

.catalog-cards-rating-block {
 display: flex;
 justify-content: space-between;
}

.catalog-cards-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.catalog-pagination {
  display: flex;
  margin: 0 auto;
  gap: 8px;
  width: 1000px;
  padding: 80px 0 60px 0;
}

.catalog-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
}

.pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #f2f2f2;
  width: 60px;
  height: 60px;
}

.ellipsis {
  color:#000000;
  background: transparent;
}
